<div class="utility">
  <div class="wrap">
    <div class="utility-in">
      <span class="u-left">Professional Residential &amp; Commercial Painting</span>
      <span class="u-right">
        <a href="tel:18669927238"><svg class="ic" width="12" height="12"><use href="#ic-phone"/></svg><span class="ccp-phone-swap">1-866-99-CRAFT</span></a>
        <a class="dj-link" href="https://colourcraftpaintingrichmonddelta.dripjobs.com/AppointmentRequests?companyId=8184029926526095e42d8f4b15ab1e&amp;formId=5618388306236b71df9755458b98af">Schedule FREE Estimate<svg class="ic" width="12" height="12"><use href="#ic-chev"/></svg></a>
      </span>
    </div>
  </div>
</div>

<header>
  <div class="wrap">
    <div class="head-in">
      <a href="https://colourcraftpainting.com/" target="_blank" rel="noopener"><img class="logo" src="img/logo.webp" alt="Colour Craft Painting" width="207" height="120"></a>
      {{NAV}}
      <button type="button" class="nav-toggle" aria-label="Menu" aria-expanded="false"><svg class="ic" width="22" height="22"><use href="#ic-menu"/></svg></button>
      <a class="head-phone-m" href="tel:18669927238"><span class="ccp-phone-swap">1-866-99-CRAFT</span></a>
      <a class="btn dj-link" href="https://colourcraftpaintingrichmonddelta.dripjobs.com/AppointmentRequests?companyId=8184029926526095e42d8f4b15ab1e&amp;formId=5618388306236b71df9755458b98af">Free Estimate</a>
    </div>
  </div>
  <div class="mobile-nav" hidden>
    <div class="wrap">
      {{MOBILE_NAV}}
    </div>
  </div>
</header>
